<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="http://localhost:3000">
        <title>Khoa Pham SSR</title>
    </head>
    <body>
        <div id="root"></div>
        <script src="bundle.js"></script>
    </body>
</html>